@Charset "utf-8";
*{
	margin:0;
	padding:0;
	outline: none;
}


#PG1{
	color:#C0C0C0;
	position: absolute;
    margin-top: 60px;
	margin-left: 43%;
}

#PG2{
	color:#C0C0C0;
	position: absolute;
    margin-top: 15px;
	margin-left: 44%;
}


html{
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
	font-size: 1em;
	font-family:"Segoe UI", sans-serif;
	line-height: 135%;
}


a{
	color:#747474;
	text-decoration: none;
	transition: all.6s ease;
	-moz-transition: all.6s ease;
	-webkit-transition: all.6s ease;
	-ms-transition: all.6s ease;
}
a, #PRB:hover{
	padding: 0px;
	color:#626262;
	text-decoration: none;
	transition: all.6s ease;
	-moz-transition: all.6s ease;
	-webkit-transition: all.6s ease;
	-ms-transition: all.6s ease;
}
a:active{
	color:#C40000;
	}
img{
	max-width: 100%;
	height: auto;
	width: auto;
	margin-top: 54px;
}

#and{
	margin-bottom: 10px;
	margin-top: -10px;
}

.font_8{
	margin-top: 20px;
}

#Video{
	margin-right: 10px;
	margin-top:70px;
	margin-bottom:100px;
}

#bottons{
	margin-top:20px;
}

#PRB{
	margin-top:10px;
	padding: 5, 5, 0, 5;
	border-radius: 5px;
}

#PRB :hover{
	background-color:#ececec
}
	/*Selection blok*/
	
	::selectoin{background:#E860E8;color:#fff;}
	::-moz-selectoin{background:#E860E8;color:#fff;}
	
header, footer{
	width: 100%;
	background-color: #fff;
	min-height: 100 px;
	float: auto;
}
header{
    border-bottom: 1px solid silver;
    min-width: 100%;	
	max-width: 100%;
	position: fixed;
	padding-top:55px;
	z-index: 1;
}

}
input[type=text].field:hover{
	border: 2px solid #C40000;
	transition: all.4s ease;	
}
input[type=text].field:active{
	border: 2px solid #C40000;
	transition: all.2s ease;
}
/*Основные стили для сайта*/

#articles{
	
	float: center;
}
#wrapper #articles article{
	width: 980px;
	height: 900px;
	box-sizing: border-box;
	background-color:#FFFFFF ;
}

#wrapper #articles article img{
	width: 100%;
	height: 280px;
}

/*Стили для футера*/

footer, #Page-warp{
	background-color: #2F2E2E;
	width: 100%;
	border-top: 1px solid #2F2E2E;
	margin-top: 10px;
}

#text1{
	color:#3F3E3E;
}
#page-wrap:after {
	content: "";
	display: block;
	color:#FFFFFF;
}
footer, #page-wrap:after{
	margin-top:0%;
	height:95px;
}
#page-wrap{
	min-height: 94%;
	margin-bottom:-10px;
}