@font-face {
	font-family: 'code';
	src: url('medel,eot');
	src: url('medel.eot?#iefix') format('embedded-opentype'),
		url('medel.woff') format('woff'),
		url('medel.ttf') format('truetype'),
		url('medel.svg') format('svg');
}